In [1]:
import pandas as pd
import numpy as np
import scipy as sts
import os
import csv
#testing

In [4]:
arrest19 = "Data/IL2019/NIBRS_ARRESTEE.csv"
arrest_df19 = pd.read_csv(arrest19)
incident19 = "Data/IL2019/NIBRS_incident.csv"
incident_df19 = pd.read_csv(incident19)
merged2019 = pd.merge()

In [3]:
arrest_df

,DATA_YEAR,ARRESTEE_ID,INCIDENT_ID,ARRESTEE_SEQ_NUM,ARREST_DATE,ARREST_TYPE_ID,MULTIPLE_INDICATOR,OFFENSE_TYPE_ID,AGE_ID,AGE_NUM,SEX_CODE,RACE_ID,ETHNICITY_ID,RESIDENT_CODE,UNDER_18_DISPOSITION_CODE,CLEARANCE_IND,AGE_RANGE_LOW_NUM,AGE_RANGE_HIGH_NUM
0,2019,33189213,111310423,1,01-MAR-19,2,N,16,5,13,F,2,2,R,R,NaN,13,0
1,2019,33182447,111310447,1,05-MAR-19,2,N,16,5,29,F,1,2,R,NaN,NaN,29,0
2,2019,33182461,111317969,1,08-MAR-19,1,N,16,5,14,M,2,2,R,R,NaN,14,0
3,2019,33189268,111310543,1,18-MAR-19,1,N,5,5,31,F,1,2,R,NaN,NaN,31,0
4,2019,33182483,111310559,1,19-MAR-19,3,N,16,5,44,M,2,2,N,NaN,NaN,44,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4135,2019,36247339,118888164,1,16-OCT-19,3,N,51,5,55,F,2,2,R,NaN,NaN,55,0
4136,2019,36255107,118879914,1,08-OCT-19,3,N,48,5,39,M,2,2,N,NaN,NaN,39,0
4137,2019,36255122,118879927,1,08-OCT-19,3,N,27,5,50,M,2,2,R,NaN,NaN,50,0
4138,2019,36247354,118879933,1,21-MAY-19,3,N,27,5,29,M,2,2,R,NaN,NaN,29,0
4139,2019,35958018,118007517,1,28-SEP-19,3,N,48,5,26,M,1,2,R,NaN,NaN,26,0