In [1]:
import pandas as pd
import numpy as np
import scipy as sts
import os
import csv

In [7]:
arrest19 = "Data/IL2019/NIBRS_ARRESTEE.csv"
arrest_df19 = pd.read_csv(arrest19)
incident19 = "Data/IL2019/NIBRS_incident.csv"
incident_df19 = pd.read_csv(incident19)
merged2019 = pd.merge(incident_df19, arrest_df19, on="INCIDENT_ID")

arrest09 = "Data/IL2009/nibrs_arrestee.csv"
arrest_df09 = pd.read_csv(arrest09)
incident09 = "Data/IL2009/nibrs_incident.csv"
incident_df09 = pd.read_csv(incident09)
merged2009 = pd.merge(incident_df09, arrest_df09, on="incident_id")

In [34]:
clean2019 = merged2019.drop(columns = ['DATA_YEAR_x',
 'AGENCY_ID',
 'INCIDENT_ID',
 'NIBRS_MONTH_ID',
 'CARGO_THEFT_FLAG',
 'SUBMISSION_DATE','REPORT_DATE_FLAG', 'CLEARED_EXCEPT_DATE',
 'INCIDENT_STATUS','DATA_HOME',
 'ORIG_FORMAT','DATA_YEAR_y',
 'ARRESTEE_ID', 'ARRESTEE_SEQ_NUM', 'AGE_ID','UNDER_18_DISPOSITION_CODE',
 'CLEARANCE_IND',
 'AGE_RANGE_LOW_NUM',
 'AGE_RANGE_HIGH_NUM', 'DID'])



clean2009 = merged2009.drop(columns = [
 'agency_id',
 'incident_id',
 'nibrs_month_id',
 'cargo_theft_flag',
 'submission_date','report_date_flag', 'cleared_except_date',
 'incident_status','data_home',
 'orig_format',
 'arrestee_id', 'arrestee_seq_num', 'age_id','under_18_disposition_code',
 'clearance_ind',
 'age_range_low_num',
 'age_range_high_num', 'incident_number','ddocname', 'ff_line_number_x','did', 'arrest_num', 'ff_line_number_y'])

In [35]:
list(clean2009.columns.values)

['incident_date',
 'incident_hour',
 'cleared_except_id',
 'arrest_date',
 'arrest_type_id',
 'multiple_indicator',
 'offense_type_id',
 'age_num',
 'sex_code',
 'race_id',
 'ethnicity_id',
 'resident_code']

In [36]:
clean2009

,incident_date,incident_hour,cleared_except_id,arrest_date,arrest_type_id,multiple_indicator,offense_type_id,age_num,sex_code,race_id,ethnicity_id,resident_code
0,2009-01-01 00:00:00,10,6,2009-02-25 00:00:00,3,N,51,43.0,M,2,2,R
1,2009-01-01 00:00:00,1,6,2009-01-01 00:00:00,1,N,51,25.0,M,2,2,R
2,2009-01-01 00:00:00,13,6,2009-03-13 00:00:00,3,N,56,32.0,M,2,2,R
3,2009-01-01 00:00:00,19,6,2009-01-01 00:00:00,1,N,51,41.0,F,2,2,R
4,2009-01-01 00:00:00,1,6,2009-01-01 00:00:00,3,N,51,24.0,F,2,2,R
...,...,...,...,...,...,...,...,...,...,...,...,...
5281,2009-12-06 00:00:00,21,6,2009-12-06 00:00:00,1,N,35,51.0,F,2,2,R
5282,2009-12-06 00:00:00,22,6,2009-12-06 00:00:00,1,N,49,40.0,M,2,2,R
5283,2009-12-07 00:00:00,5,6,2009-12-07 00:00:00,1,N,45,55.0,M,2,2,R
5284,2009-12-07 00:00:00,4,6,2009-12-07 00:00:00,1,N,49,17.0,M,2,2,R
5285,2009-12-07 00:00:00,9,6,2009-12-07 00:00:00,3,N,51,32.0,M,1,2,N

In [27]:
clean2019

,INCIDENT_DATE,INCIDENT_HOUR,CLEARED_EXCEPT_ID,ARREST_DATE,ARREST_TYPE_ID,MULTIPLE_INDICATOR,OFFENSE_TYPE_ID,AGE_NUM,SEX_CODE,RACE_ID,ETHNICITY_ID,RESIDENT_CODE
0,08-NOV-19,7,6,14-NOV-19,3,N,29,56,M,2,2,R
1,08-NOV-19,21,6,16-DEC-19,3,N,5,24,M,2,2,R
2,08-NOV-19,20,6,16-DEC-19,3,N,51,24,M,2,2,R
3,17-OCT-19,22,6,30-DEC-19,3,N,27,20,M,2,2,R
4,01-DEC-19,18,6,01-DEC-19,1,N,2,15,F,2,2,R
...,...,...,...,...,...,...,...,...,...,...,...,...
4135,01-DEC-19,17,6,03-DEC-19,3,N,40,23,M,2,2,R
4136,01-DEC-19,18,6,01-DEC-19,1,N,51,37,M,2,2,R
4137,01-DEC-19,22,6,01-DEC-19,1,N,27,22,M,1,1,R
4138,03-FEB-19,17,6,21-JAN-20,1,N,48,58,M,2,2,R
4139,01-OCT-19,18,6,26-DEC-19,3,N,48,38,M,1,2,N