In [2]:
import pandas as pd
import numpy as np
import scipy as sts
import os
import csv
#testing

In [65]:
arrest19 = "Data/IL2019/NIBRS_ARRESTEE.csv"
arrest_df19 = pd.read_csv(arrest19)
incident19 = "Data/IL2019/NIBRS_incident.csv"
incident_df19 = pd.read_csv(incident19)
merged2019 = pd.merge(incident_df19, arrest_df19, on="INCIDENT_ID")

arrest09 = "Data/IL2009/nibrs_arrestee.csv"
arrest_df09 = pd.read_csv(arrest09)
incident09 = "Data/IL2009/nibrs_incident.csv"
incident_df09 = pd.read_csv(incident09)
merged2009 = pd.merge(incident_df09, arrest_df09, on="incident_id")

violent = "Data/IL2019/NIBRS_OFFENSE_TYPE.csv"
violent_df = pd.read_csv(violent)

In [66]:
clean2019 = merged2019.drop(columns = ['DATA_YEAR_x',
 'AGENCY_ID',
 'INCIDENT_ID',
 'NIBRS_MONTH_ID',
 'CARGO_THEFT_FLAG',
 'SUBMISSION_DATE','REPORT_DATE_FLAG', 'CLEARED_EXCEPT_DATE',
 'INCIDENT_STATUS','DATA_HOME',
 'ORIG_FORMAT','DATA_YEAR_y',
 'ARRESTEE_ID', 'ARRESTEE_SEQ_NUM', 'AGE_ID','UNDER_18_DISPOSITION_CODE',
 'CLEARANCE_IND',
 'AGE_RANGE_LOW_NUM',
 'AGE_RANGE_HIGH_NUM', 'DID'])



clean2009 = merged2009.drop(columns = [
 'agency_id',
 'incident_id',
 'nibrs_month_id',
 'cargo_theft_flag',
 'submission_date','report_date_flag', 'cleared_except_date',
 'incident_status','data_home',
 'orig_format',
 'arrestee_id', 'arrestee_seq_num', 'age_id','under_18_disposition_code',
 'clearance_ind',
 'age_range_low_num',
 'age_range_high_num', 'incident_number','ddocname', 'ff_line_number_x','did', 'arrest_num', 'ff_line_number_y'])

In [5]:
list(clean2009.columns.values)

['incident_date',
 'incident_hour',
 'cleared_except_id',
 'arrest_date',
 'arrest_type_id',
 'multiple_indicator',
 'offense_type_id',
 'age_num',
 'sex_code',
 'race_id',
 'ethnicity_id',
 'resident_code']

In [6]:
clean2009

,incident_date,incident_hour,cleared_except_id,arrest_date,arrest_type_id,multiple_indicator,offense_type_id,age_num,sex_code,race_id,ethnicity_id,resident_code
0,2009-01-01 00:00:00,10,6,2009-02-25 00:00:00,3,N,51,43.0,M,2,2,R
1,2009-01-01 00:00:00,1,6,2009-01-01 00:00:00,1,N,51,25.0,M,2,2,R
2,2009-01-01 00:00:00,13,6,2009-03-13 00:00:00,3,N,56,32.0,M,2,2,R
3,2009-01-01 00:00:00,19,6,2009-01-01 00:00:00,1,N,51,41.0,F,2,2,R
4,2009-01-01 00:00:00,1,6,2009-01-01 00:00:00,3,N,51,24.0,F,2,2,R
...,...,...,...,...,...,...,...,...,...,...,...,...
5281,2009-12-06 00:00:00,21,6,2009-12-06 00:00:00,1,N,35,51.0,F,2,2,R
5282,2009-12-06 00:00:00,22,6,2009-12-06 00:00:00,1,N,49,40.0,M,2,2,R
5283,2009-12-07 00:00:00,5,6,2009-12-07 00:00:00,1,N,45,55.0,M,2,2,R
5284,2009-12-07 00:00:00,4,6,2009-12-07 00:00:00,1,N,49,17.0,M,2,2,R
5285,2009-12-07 00:00:00,9,6,2009-12-07 00:00:00,3,N,51,32.0,M,1,2,N

In [7]:
clean2019

,INCIDENT_DATE,INCIDENT_HOUR,CLEARED_EXCEPT_ID,ARREST_DATE,ARREST_TYPE_ID,MULTIPLE_INDICATOR,OFFENSE_TYPE_ID,AGE_NUM,SEX_CODE,RACE_ID,ETHNICITY_ID,RESIDENT_CODE
0,08-NOV-19,7,6,14-NOV-19,3,N,29,56,M,2,2,R
1,08-NOV-19,21,6,16-DEC-19,3,N,5,24,M,2,2,R
2,08-NOV-19,20,6,16-DEC-19,3,N,51,24,M,2,2,R
3,17-OCT-19,22,6,30-DEC-19,3,N,27,20,M,2,2,R
4,01-DEC-19,18,6,01-DEC-19,1,N,2,15,F,2,2,R
...,...,...,...,...,...,...,...,...,...,...,...,...
4135,01-DEC-19,17,6,03-DEC-19,3,N,40,23,M,2,2,R
4136,01-DEC-19,18,6,01-DEC-19,1,N,51,37,M,2,2,R
4137,01-DEC-19,22,6,01-DEC-19,1,N,27,22,M,1,1,R
4138,03-FEB-19,17,6,21-JAN-20,1,N,48,58,M,2,2,R
4139,01-OCT-19,18,6,26-DEC-19,3,N,48,38,M,1,2,N

In [8]:
underage2009 = clean2009[clean2009.age_num <= 25]
underage2009

,incident_date,incident_hour,cleared_except_id,arrest_date,arrest_type_id,multiple_indicator,offense_type_id,age_num,sex_code,race_id,ethnicity_id,resident_code
1,2009-01-01 00:00:00,1,6,2009-01-01 00:00:00,1,N,51,25.0,M,2,2,R
4,2009-01-01 00:00:00,1,6,2009-01-01 00:00:00,3,N,51,24.0,F,2,2,R
5,2009-01-02 00:00:00,2,6,2009-01-02 00:00:00,2,N,16,19.0,M,2,2,R
10,2009-01-02 00:00:00,23,6,2009-01-02 00:00:00,3,N,51,22.0,M,2,2,R
15,2009-01-28 00:00:00,16,6,2009-01-28 00:00:00,3,N,51,17.0,F,2,2,R
...,...,...,...,...,...,...,...,...,...,...,...,...
5272,2009-12-14 00:00:00,12,6,2009-12-14 00:00:00,3,N,51,15.0,F,1,1,R
5277,2009-12-06 00:00:00,0,6,2009-12-06 00:00:00,3,N,16,18.0,F,2,2,N
5278,2009-12-06 00:00:00,16,6,2009-12-06 00:00:00,1,N,51,21.0,F,2,2,R
5279,2009-12-06 00:00:00,19,6,2010-01-01 00:00:00,3,N,40,17.0,M,2,2,R
5284,2009-12-07 00:00:00,4,6,2009-12-07 00:00:00,1,N,49,17.0,M,2,2,R

In [9]:
totalunder25crimes2009 = underage2009['incident_date'].count()
totalunder25crimes2009

2985

In [10]:
gendercount2009 = underage2009.groupby("sex_code")["incident_date"].count()
gendercount2009

sex_code
F     915
M    2070
Name: incident_date, dtype: int64

In [11]:
femalecount2009 = gendercount2009[0]
malecount2009 = gendercount2009[1]
percentfemale2009 = femalecount2009/totalunder25crimes2009 * 100
percentmale2009 = malecount2009/totalunder25crimes2009 * 100
percentfemale2009 = percentfemale2009.round(2)
percentmale2009 = percentmale2009.round(2)

In [12]:
groupcrime2009 = underage2009.groupby(["multiple_indicator", "sex_code"])["incident_date"].count()
groupcrime2009

multiple_indicator  sex_code
C                   M             13
M                   F              1
                    M             26
N                   F            914
                    M           2031
Name: incident_date, dtype: int64

In [13]:
solocrimecount2009 = groupcrime2009[3] + groupcrime2009[4]
groupcrimecount2009 = groupcrime2009[0] + groupcrime2009[1] + groupcrime2009[2]
percentsolocrime2009 = solocrimecount2009/totalunder25crimes2009 * 100
percentgroupcrime2009 = groupcrimecount2009/totalunder25crimes2009 * 100
percentsolocrime2009 = percentsolocrime2009.round(2)
percentgroupcrime2009 = percentgroupcrime2009.round(2)

In [17]:
arresttype2009 = underage2009.groupby(["arrest_type_id", "sex_code"])["incident_date"].count()
arresttype2009

arrest_type_id  sex_code
1               F            521
                M           1040
2               F             10
                M             31
3               F            384
                M            999
Name: incident_date, dtype: int64

In [53]:
femalejail2009 = arresttype2009[3][0]
malejail2009 = arresttype2009[3][1]
percentfemalejail2009 = femalejail2009/femalecount2009 * 100
percentmalejail2009 = malejail2009/malecount2009 * 100
percentfemalejail2009 = percentfemalejail2009.round(2)
percentmalejail2009 = percentmalejail2009.round(2)

In [56]:
underagejail2009 = underage2009[underage2009.arrest_type_id == 3]

In [59]:
underagejailresident2009= underagejail2009.groupby(["sex_code", "resident_code"])["incident_date"].count()
underagejailresident2009

sex_code  resident_code
F         N                 50
          R                326
          U                  8
M         N                 93
          R                892
          U                 14
Name: incident_date, dtype: int64

In [62]:
NIBRS_OFFENSE_TYPE.csv

892

In [68]:

violent_df.insert(2, "violent", [21, 23, 24, 21], True)

,OFFENSE_TYPE_ID,OFFENSE_CODE,OFFENSE_NAME,CRIME_AGAINST,CT_FLAG,HC_FLAG,HC_CODE,OFFENSE_CATEGORY_NAME,OFFENSE_GROUP
0,58,23*,Not Specified,Property,N,Y,6.0,Larceny/Theft Offenses,A
1,1,09C,Justifiable Homicide,Person,N,N,NaN,Homicide Offenses,A
2,2,26A,False Pretenses/Swindle/Confidence Game,Property,Y,Y,NaN,Fraud Offenses,A
3,3,36B,Statutory Rape,Person,N,Y,NaN,"Sex Offenses, Non-forcible",A
4,4,11C,Sexual Assault With An Object,Person,N,Y,2.0,Sex Offenses,A
...,...,...,...,...,...,...,...,...,...
81,68,26H,Money Laundering,Society,N,N,NaN,Other Offenses,A
82,36,11A,Rape,Person,N,Y,2.0,Sex Offenses,A
83,50,23E,Theft From Coin-Operated Machine or Device,Property,N,N,NaN,Larceny/Theft Offenses,A
84,10,90D,Driving Under the Influence,Society,N,N,NaN,Driving Under the Influence,B
85,48,90Z,All Other Offenses,Society,N,N,NaN,All Other Offenses,B