In [9]:
import pandas as pd
import numpy as np
import scipy as sts
from datetime import datetime

In [42]:
arrest19 = "Data/IL2019/NIBRS_ARRESTEE.csv"
arrest_df19 = pd.read_csv(arrest19)
incident19 = "Data/IL2019/NIBRS_incident.csv"
incident_df19 = pd.read_csv(incident19)
merged2019 = pd.merge(incident_df19, arrest_df19, on="INCIDENT_ID")
#arrest09 = "Data/IL2009/nibrs_arrestee.csv"
#arrest_df09 = pd.read_csv(arrest09)
#incident09 = "Data/IL2009/nibrs_incident.csv"
#incident_df09 = pd.read_csv(incident09)
#merged2009 = pd.merge(incident_df09, arrest_df09, on="incident_id")
winter_months = [11,12,13,14]

In [47]:
merged2019['normal_date']= pd.to_datetime(merged2019['INCIDENT_DATE'])
merged2019['month'] = pd.DatetimeIndex(merged2019['normal_date']).month

In [53]:
winter = merged2019.loc[merged2019['month'].isin ([11, 12 , 1 , 2])]

In [54]:
winter.head(100)

,DATA_YEAR_x,AGENCY_ID,INCIDENT_ID,NIBRS_MONTH_ID,CARGO_THEFT_FLAG,SUBMISSION_DATE,INCIDENT_DATE,REPORT_DATE_FLAG,INCIDENT_HOUR,CLEARED_EXCEPT_ID,...,SEX_CODE,RACE_ID,ETHNICITY_ID,RESIDENT_CODE,UNDER_18_DISPOSITION_CODE,CLEARANCE_IND,AGE_RANGE_LOW_NUM,AGE_RANGE_HIGH_NUM,normal_date,month
0,2019,5659,121201578,8219647,NaN,26-FEB-20,08-NOV-19,NaN,7,6,...,M,2,2,R,NaN,NaN,56,0,2019-11-08,11
1,2019,5659,121201588,8219647,NaN,26-FEB-20,08-NOV-19,NaN,21,6,...,M,2,2,R,NaN,NaN,24,0,2019-11-08,11
2,2019,5659,121201590,8219647,NaN,26-FEB-20,08-NOV-19,NaN,20,6,...,M,2,2,R,NaN,NaN,24,0,2019-11-08,11
4,2019,5659,121193642,8227309,NaN,26-FEB-20,01-DEC-19,NaN,18,6,...,F,2,2,R,R,NaN,15,0,2019-12-01,12
5,2019,5659,121193642,8227309,NaN,26-FEB-20,01-DEC-19,NaN,18,6,...,F,2,2,R,H,NaN,14,0,2019-12-01,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,2019,5659,107364915,8143027,NaN,21-MAR-19,27-JAN-19,NaN,3,6,...,M,2,2,R,NaN,NaN,33,0,2019-01-27,1
133,2019,5659,107364918,8143027,NaN,21-MAR-19,27-JAN-19,NaN,7,6,...,F,1,2,R,R,NaN,16,0,2019-01-27,1
134,2019,5659,107364878,8143027,NaN,21-MAR-19,22-JAN-19,NaN,18,6,...,F,1,2,N,NaN,NaN,28,0,2019-01-22,1
135,2019,5659,107364910,8143027,NaN,21-MAR-19,26-JAN-19,NaN,2,6,...,M,2,2,R,NaN,NaN,37,0,2019-01-26,1
136,2019,5659,107364919,8143027,NaN,21-MAR-19,27-JAN-19,NaN,5,6,...,F,1,2,R,NaN,NaN,52,0,2019-01-27,1

In [6]:
diffrev = budget_df["Profit/Losses"].diff()
diffrev_df = pd.DataFrame(diffrev)

maxrev = diffrev.max()
maxrevrow = diffrev_df.loc[diffrev_df["Profit/Losses"]==maxrev]
maxrevindex = maxrevrow.index
greatest_increase = budget_df.loc[maxrevindex]
greatest_increase_date = greatest_increase["Date"]

minrev = diffrev.min()
minrevrow = diffrev_df.loc[diffrev_df["Profit/Losses"]==minrev]
minrevindex = minrevrow.index
greatest_decrease = budget_df.loc[minrevindex]
greatest_decrease_date = greatest_decrease["Date"]

avgrevchange = diffrev.mean()

In [7]:
print("----------------------------------------------------------")
print("Financial Analysis")
print("----------------------------------------------------------")
print("Total Months: " + str(totalmonths))
print("Total Profits: " + "$" + str(netprofit))
print("Average Change: " + "$" + str(avgrevchange))
print("Greatest Increase in Profits: " + str(greatest_increase_date) + " ($" + str(maxrev) + ")")
print("Greatest Decrease in Profits: " + str(greatest_decrease_date) + " ($" + str(minrev)+ ")")
print("----------------------------------------------------------")

----------------------------------------------------------
Financial Analysis
----------------------------------------------------------
Total Months: 86
Total Profits: $38382578
Average Change: $-2315.1176470588234
Greatest Increase in Profits: 25    Feb-2012
Name: Date, dtype: object ($1926159.0)
Greatest Decrease in Profits: 44    Sep-2013
Name: Date, dtype: object ($-2196167.0)
----------------------------------------------------------

In [8]:
with open('financial_analysis.txt', 'w') as text:
    text.write("----------------------------------------------------------\n")
    text.write("  Financial Analysis"+ "\n")
    text.write("----------------------------------------------------------\n\n")
    text.write("Total Months: " + str(totalmonths)+ "\n")
    text.write("Total Profits: " + "$" + str(netprofit)+ "\n")
    text.write("Average Change:" + "$" + str(avgrevchange)+ "\n")
    text.write("Greatest Increase in Profits: " + str(greatest_increase_date) + " ($" + str(maxrev) + ")" + ")\n")
    text.write("Greatest Decrease in Profits: " + str(greatest_decrease_date) + " ($" + str(minrev)+ ")" + ")\n")
    text.write("----------------------------------------------------------\n")