In [1]:
import pandas as pd
import numpy as np
import scipy as sts
import os
import csv

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

86

----------------------------------------------------------
Financial Analysis
----------------------------------------------------------
Total Months: 86
Total Profits: $38382578
Average Change: $-2315.1176470588234
Greatest Increase in Profits: 25    Feb-2012
Name: Date, dtype: object ($1926159.0)
Greatest Decrease in Profits: 44    Sep-2013
Name: Date, dtype: object ($-2196167.0)
----------------------------------------------------------